/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url(imagens/fundo1.jpg);
}
.button {
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
    
}
.label{
    -fx-font-family: "Times New Roman";
}