/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}
.button {
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
    
}
.root {
    -fx-background-image: url("imagens/fundo1.jpg");
}
